.jumbotron {
  display: grid;
  place-items: center;
  height: 60vh;
  background: transparent;
  animation-name: slideIn;
  animation-duration: 1.6s;
}

@keyframes slideIn {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0);
  }
}

.containerName {
  margin: auto;
  display: table;
  background: #8bc34a;
  border-radius: 0.5vh;
}

h1 {
  float: left;
  color: #fff;
  position: relative;
}

h1 span {
  position: absolute;
  right: 0;
  width: 0;
  background: #8bc34a;
  border-left: 3px solid #000;
  animation: maquina 5s infinite alternate steps(37);
}

@keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
